USE [master]
GO
/****** Object:  Database [BANKING]    Script Date: 30-May-22 10:27:16 PM ******/
CREATE DATABASE [BANKING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANKING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BANKING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANKING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BANKING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANKING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANKING]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 30-May-22 10:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACC_NUMBER] [int] IDENTITY(50,1) NOT NULL,
	[ACC_BALANCE] [int] NOT NULL,
	[ACC_TYPE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACC_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADDING]    Script Date: 30-May-22 10:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDING](
	[EMP_ID] [int] NOT NULL,
	[LOAN_NUMBER] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC,
	[LOAN_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANK]    Script Date: 30-May-22 10:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANK](
	[BANK_CODE] [int] NOT NULL,
	[BANK_NAME] [varchar](50) NOT NULL,
	[BANK_ADDRESS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 30-May-22 10:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[BRANCH_NUMBER] [int] NOT NULL,
	[BRANCH_ADDRESS] [varchar](50) NOT NULL,
	[NO_OF_CUSTOMERS] [int] NOT NULL,
	[NO_OF_EMPLOYEES] [int] NOT NULL,
	[BANK_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BRANCH_NUMBER] ASC,
	[BANK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 30-May-22 10:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMER_SSN] [int] NOT NULL,
	[FNAME] [varchar](50) NOT NULL,
	[LNAME] [varchar](50) NOT NULL,
	[CUSTOMER_PHONE] [varchar](50) NOT NULL,
	[CUSTOMER_ADDRESS] [varchar](50) NOT NULL,
	[CUS_USERNAME] [varchar](50) NOT NULL,
	[CUS_PASS] [int] NOT NULL,
	[NO_OF_LOANS] [int] NOT NULL,
	[BRANCH_NUMBER] [int] NOT NULL,
	[BANK_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 30-May-22 10:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_FNAME] [varchar](50) NOT NULL,
	[EMP_LNAME] [varchar](50) NOT NULL,
	[NO_OF_LOANS] [int] NOT NULL,
	[EMP_USERNAME] [varchar](50) NOT NULL,
	[EMP_PASS] [int] NOT NULL,
	[BRANCH_NUMBER] [int] NOT NULL,
	[BANK_CODE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[have]    Script Date: 30-May-22 10:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[have](
	[CUSTOMER_SSN] [int] NOT NULL,
	[ACC_NUMBER] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_SSN] ASC,
	[ACC_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAN]    Script Date: 30-May-22 10:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAN](
	[LOAN_NUMBER] [int] IDENTITY(1,1) NOT NULL,
	[LOAN_TYPE] [varchar](50) NOT NULL,
	[LOAN_AMOUNT] [int] NOT NULL,
	[STATUS] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOAN_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAKE]    Script Date: 30-May-22 10:27:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAKE](
	[CUSTOMER_SSN] [int] NOT NULL,
	[LOAN_NUMBER] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_SSN] ASC,
	[LOAN_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ACC_NUMBER], [ACC_BALANCE], [ACC_TYPE]) VALUES (50, 1000, N'SALARY')
INSERT [dbo].[ACCOUNT] ([ACC_NUMBER], [ACC_BALANCE], [ACC_TYPE]) VALUES (51, 2000, N'DEPOSITE')
INSERT [dbo].[ACCOUNT] ([ACC_NUMBER], [ACC_BALANCE], [ACC_TYPE]) VALUES (52, 3000, N'SAVINGS')
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
INSERT [dbo].[ADDING] ([EMP_ID], [LOAN_NUMBER]) VALUES (1, 1)
GO
INSERT [dbo].[BANK] ([BANK_CODE], [BANK_NAME], [BANK_ADDRESS]) VALUES (1, N'MISR', N'DOWNTOWN')
INSERT [dbo].[BANK] ([BANK_CODE], [BANK_NAME], [BANK_ADDRESS]) VALUES (2, N'CAIRO', N'GIZA')
INSERT [dbo].[BANK] ([BANK_CODE], [BANK_NAME], [BANK_ADDRESS]) VALUES (3, N'AHLY', N'MAADI')
GO
INSERT [dbo].[BRANCH] ([BRANCH_NUMBER], [BRANCH_ADDRESS], [NO_OF_CUSTOMERS], [NO_OF_EMPLOYEES], [BANK_CODE]) VALUES (1, N'DOWNTOWN', 10, 10, 1)
INSERT [dbo].[BRANCH] ([BRANCH_NUMBER], [BRANCH_ADDRESS], [NO_OF_CUSTOMERS], [NO_OF_EMPLOYEES], [BANK_CODE]) VALUES (1, N'DOWNTOWN', 30, 30, 2)
INSERT [dbo].[BRANCH] ([BRANCH_NUMBER], [BRANCH_ADDRESS], [NO_OF_CUSTOMERS], [NO_OF_EMPLOYEES], [BANK_CODE]) VALUES (2, N'MAADI', 15, 15, 1)
GO
INSERT [dbo].[CUSTOMER] ([CUSTOMER_SSN], [FNAME], [LNAME], [CUSTOMER_PHONE], [CUSTOMER_ADDRESS], [CUS_USERNAME], [CUS_PASS], [NO_OF_LOANS], [BRANCH_NUMBER], [BANK_CODE]) VALUES (111, N'AHMED', N'KAREEM', N'12304', N'RRRR', N'FFFF', 12301, 3, 1, 1)
INSERT [dbo].[CUSTOMER] ([CUSTOMER_SSN], [FNAME], [LNAME], [CUSTOMER_PHONE], [CUSTOMER_ADDRESS], [CUS_USERNAME], [CUS_PASS], [NO_OF_LOANS], [BRANCH_NUMBER], [BANK_CODE]) VALUES (222, N'KAREEM', N'AMIN', N'02222', N'MAADI', N'KAREEM', 456, 1, 1, 2)
INSERT [dbo].[CUSTOMER] ([CUSTOMER_SSN], [FNAME], [LNAME], [CUSTOMER_PHONE], [CUSTOMER_ADDRESS], [CUS_USERNAME], [CUS_PASS], [NO_OF_LOANS], [BRANCH_NUMBER], [BANK_CODE]) VALUES (333, N'HASSAN', N'RAMADAN', N'789654', N'SAYEDA', N'HASSAN', 10003, 2, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([EMP_ID], [EMP_FNAME], [EMP_LNAME], [NO_OF_LOANS], [EMP_USERNAME], [EMP_PASS], [BRANCH_NUMBER], [BANK_CODE]) VALUES (1, N'KAREEM', N'MOHAMED', 1, N'OOO', 1234, 1, 1)
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [EMP_FNAME], [EMP_LNAME], [NO_OF_LOANS], [EMP_USERNAME], [EMP_PASS], [BRANCH_NUMBER], [BANK_CODE]) VALUES (2, N'MOHAMED', N'KAREEM', 0, N'MOHAMED', 456, 2, 1)
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [EMP_FNAME], [EMP_LNAME], [NO_OF_LOANS], [EMP_USERNAME], [EMP_PASS], [BRANCH_NUMBER], [BANK_CODE]) VALUES (4, N'AYOB', N'AHMED', 1, N'AYOB', 789, 2, 2)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
INSERT [dbo].[have] ([CUSTOMER_SSN], [ACC_NUMBER]) VALUES (111, 50)
INSERT [dbo].[have] ([CUSTOMER_SSN], [ACC_NUMBER]) VALUES (222, 51)
GO
SET IDENTITY_INSERT [dbo].[LOAN] ON 

INSERT [dbo].[LOAN] ([LOAN_NUMBER], [LOAN_TYPE], [LOAN_AMOUNT], [STATUS]) VALUES (1, N'COMMERCIAL', 10000, NULL)
INSERT [dbo].[LOAN] ([LOAN_NUMBER], [LOAN_TYPE], [LOAN_AMOUNT], [STATUS]) VALUES (5, N'CAR', 5000, N'ACCEPTED')
INSERT [dbo].[LOAN] ([LOAN_NUMBER], [LOAN_TYPE], [LOAN_AMOUNT], [STATUS]) VALUES (9, N'HOME', 2000, N'REJECTED')
SET IDENTITY_INSERT [dbo].[LOAN] OFF
GO
INSERT [dbo].[TAKE] ([CUSTOMER_SSN], [LOAN_NUMBER]) VALUES (111, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CUSTOMER__4BCC06D0CDA79C9E]    Script Date: 30-May-22 10:27:16 PM ******/
ALTER TABLE [dbo].[CUSTOMER] ADD UNIQUE NONCLUSTERED 
(
	[CUS_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLOYEE__3FDC20CBCA51CFA0]    Script Date: 30-May-22 10:27:16 PM ******/
ALTER TABLE [dbo].[EMPLOYEE] ADD UNIQUE NONCLUSTERED 
(
	[EMP_USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADDING]  WITH CHECK ADD FOREIGN KEY([EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[ADDING]  WITH CHECK ADD FOREIGN KEY([LOAN_NUMBER])
REFERENCES [dbo].[LOAN] ([LOAN_NUMBER])
GO
ALTER TABLE [dbo].[BRANCH]  WITH CHECK ADD FOREIGN KEY([BANK_CODE])
REFERENCES [dbo].[BANK] ([BANK_CODE])
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD FOREIGN KEY([BRANCH_NUMBER], [BANK_CODE])
REFERENCES [dbo].[BRANCH] ([BRANCH_NUMBER], [BANK_CODE])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([BRANCH_NUMBER], [BANK_CODE])
REFERENCES [dbo].[BRANCH] ([BRANCH_NUMBER], [BANK_CODE])
GO
ALTER TABLE [dbo].[have]  WITH CHECK ADD FOREIGN KEY([ACC_NUMBER])
REFERENCES [dbo].[ACCOUNT] ([ACC_NUMBER])
GO
ALTER TABLE [dbo].[have]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_SSN])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_SSN])
GO
ALTER TABLE [dbo].[TAKE]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_SSN])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMER_SSN])
GO
ALTER TABLE [dbo].[TAKE]  WITH CHECK ADD FOREIGN KEY([LOAN_NUMBER])
REFERENCES [dbo].[LOAN] ([LOAN_NUMBER])
GO
USE [master]
GO
